<%= form_for(@produkte, :html => { :multipart => true}) do |f| %>
  <% if @produkte.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@produkte.errors.count, "error") %> prohibited this produkte from being saved:</h2>

      <ul>
      <% @produkte.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :beschreibung %><br>
    <%= f.text_field :beschreibung %>
  </div>
  <div class="field">
    <%= f.label :preis %><br>
    <%= f.number_field :preis %>
  </div>
  <div class="field">
    <%= f.label :stueckzahl %><br>
    <%= f.number_field :stueckzahl %>
  </div>
  <div class="field">
    <%= f.label :datumvon %><br>
    <%= f.date_select :datumvon %>
  </div>
  <div class="field">
    <%= f.label :datumbis %><br>
    <%= f.date_select :datumbis %>
  </div>
  <div class="field">
    <%= f.file_field :bild %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
