<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @produkte.bild.url :medium %>
</p>

<p>
  <strong>Name:</strong>
  <%= @produkte.name %>
</p>

<p>
  <strong>Beschreibung:</strong>
  <%= @produkte.beschreibung %>
</p>

<p>
  <strong>Preis:</strong>
  <%= @produkte.preis %>
</p>

<p>
  <strong>Stueckzahl:</strong>
  <%= @produkte.stueckzahl %>
</p>

<p>
  <strong>Datumvon:</strong>
  <%= @produkte.datumvon %>
</p>

<p>
  <strong>Datumbis:</strong>
  <%= @produkte.datumbis %>
</p>

<%= link_to 'bearbeiten', edit_produkte_path(@produkte) %> |
<%= link_to 'zurueck', produktes_path %>
