<h2>Product</h2>
<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @product.picture.url :larger %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @product.amount %>
</p>

<p>
  <strong>Since:</strong>
  <%= @product.since %>
</p>

<p>
  <strong>Until:</strong>
  <%= @product.until %>
</p>

<p>
<strong>Quantity:</strong>
<ul>
  <li><%= @product.name %></li>
  <%= render 'quantity', :product => @product %>
</ul>
</p>

<p>
  <strong>Arithmetical Middle:</strong>
  <%= @product.arithmetical_middle %>
</p>

<p>
  <strong>Exponentiall flatten:</strong>
  <%= @product.exponential_smoothing %>
</p>

<% if logged_in? %>
<%= render 'add_to_basket', :product => @product.id %>
<% end %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
