<!DOCTYPE html>
<html>
<head>
  <title>Spaceshop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 
                                            'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1><%= link_to "Spaceshop", products_path %></h1>
<div> 
  <%= form_tag(products_path, :method => "get", id: "search-form") do |i|%>
    <%= text_field_tag :search, params[:search], placeholder: "Search for product" %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>

<%= yield %>

<%= render "footer" %>
</body>
</html>
